@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (prefers-reduced-motion: reduce) {
  html {
    background-color: rgb(17, 24, 39);
    scroll-behavior: auto;
  }
}

html {
  background-color: rgb(17, 24, 39);
  scroll-behavior: smooth;
}

strong {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}
