/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html {
  background-color: rgb(17, 24, 39);
  scroll-behavior: smooth;
}

strong {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}